node_modules
.env

# Remix dependency files
.deps
.deploys

# Hardhat files
/cache
/artifacts
/contracts/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
